/* https://youtu.be/A_8DSKGWWYI */
@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400&display=swap");
/* * {
  margin: 0;
  padding: 0;
} */

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Londrina Solid", cursive;
} */

.card {
  width: 370px;
  height: 450px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  transition: all 0.6s ease;
  margin-right: 15px;
  border-left: 1px solid #ffac1c;
  border-right: 1px solid #ffac1c;
}

.card:hover {
  box-shadow: rgba(255, 172, 28, 0.199) -10px 10px,
    rgba(255, 172, 28, 0.19) -20px 20px;
}

.card .img {
  height: 50%;
  background: url("https://cdn.pixabay.com/photo/2016/04/18/08/58/new-england-1336173_960_720.jpg");
  background-size: cover;
}

.card .content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-weight: 300;
}

.card .content h3 {
  width: 200px;
  font-weight: 300;
  font-size: 20px;
  padding-bottom: 5px;
  border-bottom: 4px solid #ffac1c;
}

.icon-border-div {
  height: 2px;
  width: 250px;
  background-color: #ffac1c;
  border-radius: 2px;
}

.card .content p {
  font-size: 13px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: justify;
}

.card .content a {
  list-style-type: none;
  text-decoration: none;
}

.card .content button {
  /* font-family: "Londrina Solid", cursive; */
  /* font-weight: 200; */
  font-size: 20px;
  color: #ffac1c;
  width: 100%;
  height: 45px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  transition: 0.2s ease-in-out;
  font-weight: bold;
}

.card .content button:hover {
  background-color: transparent;
  border: 1px solid #ffac1c;
  color: black;
  cursor: pointer;
}

.card-icon-container {
  display: flex;
  justify-content: space-between;
}

.card-icon-container-bed {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.MuiBadge-colorPrimary {
  background-color: #ffac1c !important;
}
.MuiBadge-badge {
  border-radius: 3px !important;
}

.MuiBadge-anchorOriginTopLeftRectangle {
  transform: none !important;
}
.MuiBadge-badge {
  width: 70px !important;
  height: 30px !important;
  font-size: 14px !important;
  color: #000000 !important;
  font-weight: bold !important;
}

.MuiInputBase-input {
  color: #043b09 !important;
}

.MuiFormLabel-root.Mui-focused {
  color: #006421 !important;
  opacity: 0.8 !important;
}

.MuiFilledInput-underline:after {
  border-bottom-color: #1f8300 !important;
}
