.tenantsGuide-title-div {
  border-bottom: 5px solid rgb(0, 0, 0);
  padding: 8px 10px;
}
.tenantsGuide-text-div p {
  font-size: 16px;
  text-align: justify;
}
.tenantsGuide-text-div {
  padding-left: 20px;
}
