.searchBarContainer-main {
  display: flex;
  width: 100%;
  justify-content: center;
}

.searchBarContainer {
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* margin-left: 20px; */
  /* background-color: #fff; */
  /* border-radius: 5px; */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  /* background-color: #f8f8f8; */
  border-radius: 0px 0px 10px 10px;
  background: rgb(255, 255, 255);
}

/* .searchForm { */
/* display: flex;
  justify-content: center;
  align-items: center; */
/* width: 40%; */
/* margin-left: 20px; */
/* background-color: rgb(247, 0, 0);
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); */
/* padding: 1px; */
/* } */
/* .input-container {
  margin-right: 20px;
  background: red;
  flex: 6;
} */

.search-input {
  /* flex: 6; */
  width: 400px;
  height: 50px;
  border: none;
  /* margin: 5px; */
  padding: 10px;
  border-radius: 10px;
  /* background-color: #02ff0f; */
  margin-right: 10px;
  border: 1px solid #e5d499;
}

.search-input:focus {
  outline: none;
  border: 1px solid #07811c;
}

.input-and-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input-button {
  /* flex: 1; */
  height: 50px;
  border: none;
  font-weight: bold !important;
  /* color: black !important; */
  border-radius: 10px !important;
  margin-right: 10px !important;
  /* background-color: #ffc400 !important; */
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  /* padding-left: 10px;
  padding-left: 10px; */
  /* margin-left: 50px; */
}

.search-input-button:hover {
  background: #fff !important;
  border: 1px solid #07811c !important;
}

.serch-bar-heading {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}
