.association-container-extra {
  padding: 15px 0px;
}

.associations-slide {
  width: 100%;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.associations-slide > img {
  width: 60%;
}
.slick-track {
  display: flex;
  align-items: center;
}

.association-title {
  font-size: 30px;
  font-weight: bold;
  color: black;
}
