.tanant-registration-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -1px 2px 10px gray;
  justify-content: center;
  margin: 30px;
  height: 500px;
  /* width: 1000px; */
  border-radius: 10px;
}

.section-separator {
  height: 280px !important;
  width: 2px;
  background-color: rgb(230, 187, 0);
  margin-left: 25px;
}

.form-sections-1st-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.personal-details-div {
  /* width: 100%; */
  /* display: flex;
    flex-flow: column; */
  /* justify-content: center; */
  align-items: center;
}

.form-sections {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.submit-button {
  margin-top: 100px;
}

.field-and-button-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.section-heading {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.form-heading {
  margin-top: 40px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 10px;
}
